body 
    background-color: #ffffff
    
#container
    width: 1000px
    margin-left: auto
    margin-right: auto
    
#rectangle
    width 1000px
    
#logo
    float: left
    width: 420px
    padding-left: 60px
    padding-right: 20px
    padding-top: 60px
    padding-bottom: 20px

#list
    height: 50px
    padding-top: 50px
    padding-bottom: 20px

#mainNavMenu 
    ul 
        list-style-type: none
    li 
        float: left
    a   
        font-size: 20px
        font-family: 'Open Sans Condensed', sans-serif
        padding-left: 10px
        padding-right: 10px
        
a:link
    color: #000000
    text-decoration: none

a:visited
    color: #000000
    text-decoration: none

a:hover
    color: #000000
    text-decoration: none
        
#options
    width: 1000px
    
img.foto
    width: 1000px
